html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin-bottom: 1em;
  margin: auto;
  flex-direction: column;
    &--main {
      max-width: 50em;
    }
    &--buttons {
      flex-direction: row;
    }
}

.source {

  &--kind{
    flex-direction: row;
  }
}

.button {
  display: inline-block;
  background-color: #002d65;
  padding: 1em;
  margin: 1em;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

input {
  margin-top: 1.5em;
}

#generator {
  flex-grow: 1;
}

.solution {
  padding: 2em;
}

#about {
  display: inline;
  text-align: right;
  float: right;
}
